@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">JokesApp</h1>
<p>   A maior autoridade de humor num localhost</p>
	<p><img src="~/imagens/costa-demissao.webp" /> </p>
</div>

